<table>
<tr><td>
<!-- ***************** Card 1: Resource type **********************-->
    <md-card class="advanced-resource-card">
        <md-card-header>
            <div md-card-avatar class="header-image"></div>
            <md-card-title> <b>Add new resource</b> </md-card-title>
            <md-card-subtitle>Create a new resource type for your project</md-card-subtitle>
        </md-card-header>
        <md-card-content>
        <p>
        Before creating a new resource type, please make sure that the existing basic resource types found under
        Resources: add new resource" are not sufficient for your project.
        </p>

            <form class="advanced-resource-form">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Name">
                </md-input-container>

                <table class="full-width" cellspacing="0"><tr>
                    <td><md-input-container class="full-width">
                        <input mdInput placeholder="Label">
                    </md-input-container></td>
                    <td><md-input-container class="full-width">
                        <input mdInput placeholder="Icon">
                    </md-input-container></td>
                </tr></table>

                <p>
                    <md-input-container class="full-width">
                        <textarea mdInput placeholder="Description"></textarea>
                    </md-input-container>
                </p>

                <!-- resource permissions -->
                <p md-subheader>Set resource permissions</p>
                <table class="full-width" cellspacing="0"><tr>
                    <tr>
                        <th *ngFor="let group of permissions.groups" [mdTooltip]="group.description" mdTooltipPosition="above" style="text-align:left">
                            {{group.label}}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let group of permissions.groups; let i = index">
                            <md-select [(ngModel)]="permissions[group.id]" [name]="group.id">
                                <md-option *ngFor="let cat of permissions?.categories" [value]="cat.id">
                                    {{cat.label}}
                                </md-option>
                            </md-select>
                        </td>
                    </tr>
                </table>
                <p><br>
                    Select resource type
                </p>

                <p><br>
                    <md-select placeholder="resource type" [(ngModel)]="resclass" name="resourceClass">
                        <md-option *ngFor="let res of baseOntology?.resourceClasses | key" [value]="res.id">
                            {{res.value.label}}
                        </md-option>
                    </md-select>
                </p>

            </form>

        </md-card-content>
        <md-card-actions>
            <button md-button class="saveButton">SAVE</button>
        </md-card-actions>
    </md-card>
</td>




<td>
<!-- ***************** Card 2: Lists **********************-->
    <md-card class="advanced-resource-card">
    <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title> <b>Create list element</b> </md-card-title>
        <md-card-subtitle>Lists and hierarchical lists</md-card-subtitle>
    </md-card-header>
    <md-card-content>

    <p>
        Here you can create new list types which you can use to customize your properties.
    </p>

    <form class="advanced-resource-form">

        <section>
            <md-input-container class="full-width">
                <input mdInput placeholder="Name">
            </md-input-container>

            <table class="full-width" cellspacing="0"><tr>
                <td><md-input-container class="full-width">
                    <input mdInput placeholder="Label">
                </md-input-container></td>
                <td><md-input-container class="full-width">
                    <input mdInput placeholder="Icon">
                </md-input-container></td>
            </tr>
            </table>
            <p>
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Description"></textarea>
                </md-input-container>
            </p>
        </section>

            <p><br>
                <b>Add list items</b>
            </p>
        <section class="addListItems">

            <md-list *ngIf="newListItem == true" class="showList">
                <md-list-item *ngFor="let listItem of listItems">
                    {{listItem.description}}
                    <div class="filler"></div>
                    <button [mdTooltip]="'Click to add a secondary list from this list item (hierarchical list)'"
                            mdTooltipPosition="after"
                            class="playlistButton">
                        <i class="playlist-add-icon">playlist_add</i>
                    </button>
                </md-list-item>
            </md-list>

            <md-input-container class="full-width">
                <input  mdInput
                        placeholder="New item"
                        #newItem
                        (keyup.enter)="addListItem(newItem.value, $event)"
                       (blur)="addListItem(newItem.value, $event); newItem.value='' ">
            </md-input-container>
            <p>
                <button [mdTooltip]="'Click to add new list item'" mdTooltipPosition="above"
                        md-mini-fab color="primary" (click)="addListItem(newItem.value, $event)">
                    <i class="material-icons">add</i>
                </button>
            </p>

        </section>

    </form>

    </md-card-content>
    <md-card-actions>
        <button md-button class="saveButton">SAVE</button>
    </md-card-actions>
    </md-card>

</td>


<td>
<!-- ***************** Card 3: Properties **********************-->








</td></tr>
</table>
