/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */

//
//  Overlay element:
//  it hides the content of salsah in the case of
//  modal pop-ups or dropdown animations
//

salsah-overlay {
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
//  -- /overlay --
//

//
//  -- Header --
//
.salsah-main-header {
    md-toolbar {
        position: fixed;
        top: 0;
        z-index: 100;
        height: 64px;

        .salsah-project-buttons {
            .salsah-project-select-button {
                position: relative;
                top: -12px;
            }
        }
        img.logo {
            height: 48px;
            margin-top: 16px;
        }
    }
}

.md-menu-panel.salsah-project-selection {
    max-width: 420px;
    div {
        min-height: 32px;
        padding-top: 6px;
        padding-bottom: 6px;
        span.salsah-user-project {
            max-width: 320px;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            white-space: pre-wrap;
        }
        span.salsah-admin-button {
            right: 12px;
            position: absolute;
            md-icon {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


//  -- /header --
//


//
//  -- Main content --
//
main.salsah-main-content {
    position: relative;
    top: 64px;
    width: 100vw;
    padding-top: 64px;
    padding-bottom: 64px;

}

//  -- /main content --
//

//
//  -- Footer --
//
footer.salsah-main-footer {
    position: fixed;
    bottom: 0;
    height: 36px;
    width: 100vw;
    background-color: rgba(whitesmoke, 0.91);

    p {
        font-size: smaller;
        text-align: center;
        color: dimgrey;
        padding-bottom: 6px;
        a {
            text-decoration: none;
            color: inherit;
            font-weight: bolder;
        }

    }
}


//  -- /footer --
//

