/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */


.salsah-component-header {
    position: fixed;
    top: 64px;
    width: 100vw;

    md-toolbar {
        z-index: 90;
        padding-left: 64px;
        padding-right: 64px;
        @include box-shadow-bottom();

        &.salsah-admin-header {
            md-tab-group {
                margin-bottom: -20px;
            }
        }
    ;
    }
    div.loading {

    }
}

.salsah-component-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    .list-view {
        .md-list-item {
            height: 128px;
            img {
                border-radius: 0;
                width: 128px;
                height: 80%;
                object-fit: cover;
            }
        }
    }

}


.salsah-dashboard {
    width: 560px;
    img {
        width: 360px;
        height: auto;
    }
}


