/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@import 'mixins';
@import 'config';
@import 'loading';
@import 'form';
@import 'framework';
@import 'search';
@import 'view';
@import 'error';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.salsah-error {
    background-color: orangered;
    max-width: 640px;
    margin: 24px auto;
}
.salsah-warning {
    background-color: indianred;
    max-width: 640px;
    margin: 24px auto;
}
.salsah-note {
    background-color: lightgoldenrodyellow;
    max-width: 640px;
    margin: 24px auto;
}

.fill-remaining-space {
    flex: 1 1 auto
}


.show {
    display: block;
}
.hide {
    display: none;
}

.full-width {
    width: 100%;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.passive, .archive, .warning {
    color: orangered;
}

md-card.no-shadow {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}
md-card.fix-width {
    width: 100%;
    max-width: 640px;
    min-width: 480px;
}
