<md-toolbar>
    <!-- project buttons on the top left corner -->
    <salsah-project-buttons [projects]="projects" [current]="currentProject"></salsah-project-buttons>

    <span class="fill-remaining-space"></span>

    <!-- salsah specific search panel incl.
         simple and extended search menu -->
    <salsah-search></salsah-search>

    <span class="fill-remaining-space"></span>

    <!-- toolbar buttons on the top right corner -->
    <salsah-toolbar-buttons [toolbar]="toolbar"></salsah-toolbar-buttons>
</md-toolbar>
