.resources-group {
    display: inline-flex;
    flex-direction: column;
}

.resource-button {
    margin: 5px;
}

.resource-value {
    margin: 10px 0;
    color: #b2dfdb;
}

.perm-style {
    /*float: right;*/
    vertical-align: top;
    /*text-align: left;*/
    margin: 0 10px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
