<div class="salsah-component-content">
    <md-card class="salsah-project-creator">
<!--
        <ckeditor
            [(ngModel)]="ckeditorContent"
            [config]="{uiColor: '#000000'}"
            (change)="onChange($event)"
            (ready)="onReady($event)"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
            debounce="500">
        </ckeditor>
-->

        <form class="new-project-form">
            <md-card-header>
                <md-card-title>
                    {{form.project.title}}
                </md-card-title>
            </md-card-header>
            <md-card-content class="project">

                <md-input-container class="full-width">
                    <input md-input [placeholder]="form.project.name" autofocus required>
                </md-input-container>

                <md-input-container class="full-width">
                    <input md-input [placeholder]="form.project.shortname" required>
                </md-input-container>


                <md-input-container class="full-width">
                    <textarea md-input [placeholder]="form.project.description" rows="8"></textarea>
                </md-input-container>


                <h4>ngX file upload</h4>
                <!-- app.component.html -->

                <input type="file"
                       ngFileSelect
                       [options]="options"
                       (onUpload)="handleUpload($event)"
                       (beforeUpload)="beforeUpload($event)"
                       #fileUploader
                >

                <!-- drag & drop file example-->
                <div ngFileDrop
                     [options]="options"
                     (onUpload)="handleUpload($event)"
                     [ngClass]="{'file-over': hasBaseDropZoneOver}"
                     (onFileOver)="fileOverBase($event)"
                     (beforeUpload)="beforeUpload($event)"
                     class="file-upload-zone"
                >
                    <div>
                        <p>Drag &amp; Drop</p>
                        <span class="file-upload-button" md-button (click)="fileUploader.click()">Browse</span>
                    </div>

                </div>

                <div>
                    Response: {{ uploadFile | json }}
                </div>


            </md-card-content>
            <md-card-actions>
                <button md-raised-button type="submit" class="save-buttton md-primary">Save</button>
                <button md-raised-button type="reset" class="save-buttton md-primary">reset</button>
            </md-card-actions>
        </form>
    </md-card>

</div>



