<div class="salsah-component-content">
    <md-card class="salsah-login">
        <md-card-header>
            <md-card-title>
                {{form.project.title}}
            </md-card-title>
        </md-card-header>
        <md-card-content class="project">
            <form class="new-project-form">
                <md-input-container class="full-width">
                    <input md-input [placeholder]="form.project.name" autofocus>
                </md-input-container>
                <md-input-container class="full-width">
                    <textarea md-input [placeholder]="form.project.description" rows="8"></textarea>
                </md-input-container>


            </form>
        </md-card-content>
    </md-card>
    <p>
        new-project form here
    </p>

    <button md-button>Next</button>

</div>



