<div class="simple-search-panel" [ngClass]="panelSize">
    <!--
    <button class="prefix">
        <md-icon>filter_list</md-icon>
    </button>
    -->
    <button class="prefix"  (click)="doSearch(search)">
        <md-icon>search</md-icon>
    </button>
    <input #search type="search" placeholder="{{ searchSetting?.placeholder }}" (keyup)="onKey($event)" value={{_searchQuery}} (focus)="onFocus()" />
    <!-- [(ngModel)]="_searchQuery" -->
    <button class="suffix" *ngIf="activeElement"  (click)="clearSearch(search)" [@visibility]="showExtended">
        <md-icon class="md-24">close</md-icon>
    </button>
</div>

<!-- the next element -- div.extended-search-panel -- is a hidden dropdown filter menu -->
<div class="extended-search-panel" [@visibility]="showExtended">
    <p>Show me on focus of the simple search</p>
</div>
