<div class="salsah-module with-header">
    <md-sidenav-container
        class="nie-ks-sidenav-container mat-sidenav-container mat-sidenav-transition">

        <div tabindex="-1" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
        <md-sidenav class="nie-ks-sidenav mat-sidenav mat-sidenav-opened mat-sidenav-side"
                    tabindex="-1">
            <nav>
                <h3>First heading</h3>
                <ul>
                    <li> Some content here?</li>
                    <li> And here?</li>
                </ul>
                <h3>Second heading</h3>
                <ul>
                    <li>What about here?</li>
                    <li>Content?!?</li>
                </ul>
            </nav>

        </md-sidenav>

        <div cdk-scrollable="" class="mat-sidenav-content"
             style="margin-left: 240px; margin-right: 0; transform: translate3d(0, 0, 0);">
            <div class="nie-ks-sidenav-content">
                <h1>Greetings from the Kitchensink!</h1>
                <p>Now we need some action here.</p>
            </div>
        </div>

    </md-sidenav-container>

</div>
