<div class="salsah-module with-header">
    <md-sidenav-container
        class="nie-ks-sidenav-container mat-sidenav-container mat-sidenav-transition">

        <div tabindex="-1" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
        <md-sidenav class="nie-ks-sidenav mat-sidenav mat-sidenav-opened mat-sidenav-side"
                    tabindex="-1">
            <nav>
                <h3>First heading</h3>
                <ul>
                    <li><a href="dummysink">Dummy sink</a></li>
                    <li> And here?</li>
                </ul>
                <h3>Second heading</h3>
                <ul>
                    <li>What about here?</li>
                    <li>Content?!?</li>
                </ul>
            </nav>

        </md-sidenav>

        <div cdk-scrollable="" class="mat-sidenav-content"
             style="margin-left: 240px; margin-right: 0; transform: translate3d(0, 0, 0);">
            <router-outlet></router-outlet>
            <div class="nie-ks-sidenav-content">
                <md-tab-group>
                    <md-tab label="Overview">
                        <h1>Some tab content</h1>
                        <p>...</p>
                    </md-tab>
                    <md-tab label="API Reference">
                        <h1>Some more tab content</h1>
                        <p>...</p>
                    </md-tab>
                    <md-tab label="Examples">
                        <h1>Some more tab content</h1>
                        <p>...</p>
                    </md-tab>
                </md-tab-group>
            </div>
        </div>

    </md-sidenav-container>

</div>
